@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800");        

$color: #0066b3;


@mixin transition{
    transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
}

@mixin font {
    font-family: 'Open Sans', sans-serif !important;
}
@mixin animate {
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
}

body{
    @include font();
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    @include font();
}
section{
    padding: 80px 0;
    @media (max-width: 767px){
        padding: 36px 0;
    }
}
.text-center{
    text-align: center;
}
.only-pc{
    display: block;
    @media (max-width: 767px){
        display: none !important;
    }
}
.only-sp{
    display: none;
    @media (max-width: 767px){
        display: block !important;
    }
}


p{
    color: rgba(5, 22, 35, 0.8);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}
h3.twok__title{
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    text-transform: capitalize;
    color: #1B2345;
    position: relative;
    margin: 0;
    // @media (max-width: 450px){
    //     font-size: 24px;
    //     line-height: 33px;
    // }
    // @media only screen and (max-width: 767px) and (min-with: 450px){
    //     font-size: 32px;
    //     line-height: 46px;
    // }
    &::after{
        content: '';
        display: block;
        width: 104px;
        height: 2px;
        background: #0048B3;
        position: absolute;
        bottom: -18px;
        left: 0;
        right: 0;
        margin: auto;
    }
}
@media only screen and (max-width: 450px){
    h3.twok__title, h3.twok__detail__title{
        font-size: 24px !important;
        line-height: 33px !important;
    }
}
@media only screen and (max-width: 767px){
    h3.twok__title, h3.twok__detail__title{
        font-size: 32px;
        line-height: 46px;
    }
}
h3.twok__detail__title{
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    text-transform: capitalize;
    color: #1B2345;
    margin: 0;
}

button{
    background: #F37021;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 16px 40px;
    margin-top: 40px;
    color: #ffffff;
    -ms-transform: scale(1); /* IE 9 */
    transform: scale(1); /* Standard syntax */
    @include animate();
    &:hover{
        -ms-transform: scale(1.1); /* IE 9 */
        transform: scale(1.1); /* Standard syntax */
    }
}


// style by VietPQ8

/* Component 1 */
    .twok__component__webinarhub__1{
        margin: 0;
        .item{
            position: relative;
            .item-img{
                width: 100%;
                img{
                    width: 100%;
                    margin: auto;
                }
            }
            .item-content{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 9;
                color: #FFFFFF;
                width: 100%;
                h2{
                    font-weight: bold;
                    font-size: 64px;
                    line-height: 70px;
                }
                p{
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: #FFFFFF;
                }
                
            }
            .over-bg{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(8, 12, 31, 0.4);
            }
        }
    }

    @media (max-width: 767px){
        .twok__component__webinarhub__1 .item .item-content h2{
            font-size: 40px;
        }
        .twok__component__webinarhub__1 .item .item-content p{
            font-size: 14px;
        }
        .twok__component__webinarhub__1 .item .item-img{
            overflow: hidden;
        }
        .twok__component__webinarhub__1 .item .item-img img{
            width: auto;
            margin: auto;
            min-height: 654px;
        }
        
    }

/* Component 2 */
    .twok__component__webinarhub__2{
        position: relative;
        .twok__introduce{
            display: flex;
            justify-content: space-between;
            .twok__introduce__content{
                margin-top: 70px;
                width: 50%;
                padding-right: 135px;
                h3{
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 70px;
                    text-transform: capitalize;
                    color: #1B2345;
                }
                p{
                    margin-top: 24px;
                    font-size: 16px;
                    line-height: 28px;
                    color: rgba(5, 22, 35, 0.8);
                }
            }
            .twok__introduce__img{
                width: 50%;
                position: relative;
                img{
                    width: 538px;
                }
                .img-introduce{
                    position: absolute;
                    bottom: -100px;
                    left: -100px;
                    width: 281px;
                    img{
                        width: 100%;
                        border: 8px solid #FFFFFF;
                    }
                }
            }
            img.bg1{
                position: absolute;
                top: 74px;
                left: 0;
                @media (max-width: 767px){
                    display: none;
                }
            }
            img.bg2{
                position: absolute;
                bottom: 74px;
                right: 0;
                @media (max-width: 767px){
                    display: none;
                }
            }
        }
    }

    @media (max-width: 768px){
        .twok__component__webinarhub__2 .twok__introduce .twok__introduce__content, .twok__component__webinarhub__2 .twok__introduce .twok__introduce__img{
            width: 100%;
            padding-right: 0 !important;
            margin-top: 0 !important;
        }
        .twok__component__webinarhub__2 .twok__introduce{
            display: block;
            text-align: center;
        }
        .twok__component__webinarhub__2 .twok__introduce .twok__introduce__img img{
            width: 100% !important;
        }
        .twok__component__webinarhub__2 .twok__introduce .twok__introduce__img .img-introduce{
            img{
                display: none;
            }
        }
        .twok__component__webinarhub__2 .twok__introduce .twok__introduce__content h3{
            font-size: 24px;
            line-height: 33px;
        }
        .twok__component__webinarhub__2{
            padding: 0 0 36px;
        }
        .twok__component__webinarhub__2 .twok__introduce .twok__introduce__content{
            margin-bottom: 20px;
        }
    }

    @media (max-width: 1200px){
        .twok__component__webinarhub__2 .twok__introduce .twok__introduce__content{
            padding-right: 80px;
        }
        .twok__component__webinarhub__2 .twok__introduce .twok__introduce__img img{
            width: 454px;
        }
        .twok__component__webinarhub__2 .twok__introduce .twok__introduce__content{
            margin-top: 50px;
        }
        .twok__component__webinarhub__2 .twok__introduce .twok__introduce__img .img-introduce{
            bottom: -20px;
            left: -66px;
        }
    }

/* Component 3 */
    .twok__component__webinarhub__3{
        padding-bottom: 0;
        position: relative;
        .twok__success{
            img.bg2{
                position: absolute;
                bottom: 74px;
                right: 185px;
                @media (max-width: 767px){
                    display: none;
                }
            }
            .twok__success__content{
                margin-top: 70px;   
                display: flex;
                justify-content: space-between;
                .twok__success__box{
                    z-index: 1;
                    width: calc((100% / 3) - 16px);
                    background: #1E71EC;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    img{
                        width: 100%;
                    }
                    .twok__success__txt{
                        padding: 28px 32px;
                        color: #ffffff;
                        h3{
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 32px;
                            margin: 0;
                            min-height: 128px;
                        }
                        a.read-more{
                            margin-top: 24px;
                            font-size: 16px;
                            line-height: 28px;
                            color: #ffffff;
                            display: block;
                            @include animate();
                            img{
                                width: 24px;
                                padding: 7px 5px;
                                border-radius: 50%;
                                background: #F4F6FA;
                                margin-left: 16px;
                                @include animate();
                            }
                            &:hover{
                                text-decoration: none;
                                img{
                                    margin-left: 20px;
                                }  
                            }
                        }
                    }
                    &:nth-child(2){
                        margin: 0 32px;
                        @media (max-width: 767px){
                            margin: 0 0 25px !important;
                        }
                    }
                }
            }
        }

    }

    @media (max-width: 767px){
        .twok__component__webinarhub__3 .twok__success .twok__success__content{
            display: block;
        }
        .twok__component__webinarhub__3 .twok__success .twok__success__content .twok__success__box{
            width: 100% !important;
            margin-bottom: 25px !important;
        }
        .twok__component__webinarhub__3 .twok__success .twok__success__content .twok__success__box .twok__success__txt h3{
            min-height: auto;
        }
    }

    @media (max-width: 992px){
        .twok__component__webinarhub__3 .twok__success .twok__success__content .twok__success__box:nth-child(2){
            margin: 0 10px;
        }
        .twok__component__webinarhub__3 .twok__success .twok__success__content .twok__success__box{
            width: calc((100% / 3) - 5px);
        }
        .twok__component__webinarhub__3 .twok__success .twok__success__content .twok__success__box .twok__success__txt{
            padding: 15px 10px;
        }
    }

/* Component 4 */
    .twok__component__webinarhub__4{
        background: #E5E5E5;
        position: relative;
        margin-top: 80px;
        
        .twok__what{
            img.bg2{
                position: absolute;
                bottom: 0;
                left: 0;
                @media (max-width: 767px){
                    display: none;
                }
            }
            .twok__what__content{
                display: flex;
                justify-content: space-between;
                margin-top: 73px;
                .twok__what__content__box{
                    background-color: #FFFFFF;
                    border: 1px solid #E6E6E6;
                    border-radius: 4px;
                    width: 48%;
                    padding: 32px 46px;
                    position: relative;
                    // background: url(../images/bg-what-1.png) no-repeat bottom right 100px;
                    .twok__what__bg{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 135px;
                        opacity: 0.3;
                    }
                    h4{
                        color: #1B2345;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 33px;
                    }
               
                    p{
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(5, 22, 35, 0.8);
                    }
                    .twok__note{
                        margin: 35px 0 0 20px;
                        h5{
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 25px;
                            position: relative;
                            margin-bottom: 14px;
                            &::after{
                                content: '';
                                width: 6px;
                                height: 6px;
                                border-radius: 50%;
                                background: #1E71EC;
                                position: absolute;
                                left: -20px;
                                top: 8px;
                            }
                        }
                        a{
                            color: #0048B3;
                            font-size: 14px;
                            line-height: 24px;
                            text-transform: capitalize;
                            margin: 0;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 767px){
        .twok__component__webinarhub__4 .twok__what .twok__what__content{
            display: block;
        }
        .twok__component__webinarhub__4 .twok__what .twok__what__content .twok__what__content__box{
            width: 100%;
            margin-bottom: 20px;
        }
        .twok__component__webinarhub__5 .twok__number{
            background: none !important;
            padding-bottom: 0 !important;
        }
        .twok__component__webinarhub__4{
            margin-top: 30px !important;
            padding-top: 30px !important;
        }
    }

/* Component 5 */
    .twok__component__webinarhub__5{
        padding-bottom: 0;
        position: relative;
        .twok__number{
            img.bg2{
                position: absolute;
                top: -4px;
                left: 0;
                @media (max-width: 767px){
                    display: none;
                }
            }
            background: url(../images/bg-number.png) no-repeat bottom;
            padding-bottom: 150px;
            .twok__number__content{
                display: flex;
                justify-content: space-between;
                margin-top: 70px;
                .twok__number__item{
                    width: calc(100% / 4);
                    img{
                        height: 56px;
                        width: auto;
                    }
                    h3{
                        font-weight: bold;
                        font-size: 40px;
                        line-height: 70px;
                        text-transform: capitalize;
                        color: #1B2345;
                        margin: 15px 0 0;
                    }
                    p{
                        color: rgba(5, 22, 35, 0.8);
                        font-size: 16px;
                        line-height: 28px;
                        text-align: center;
                        text-transform: capitalize;
                        margin: 0;
                    }
                    a{
                        color: #0048B3;
                        font-size: 16px;
                        line-height: 28px;
                        text-transform: capitalize;
                        margin: 0;
                        display: block;
                    }
                }
            }
        }
    }

    @media (max-width: 767px){
        .twok__component__webinarhub__5 .twok__number .twok__number__content{
            display: block;
        }
        .twok__component__webinarhub__5 .twok__number .twok__number__content .twok__number__item{
            width: 100%;
            margin-bottom: 20px;
        }
    }
/* Component 6 */
    .twok__component__webinarhub__6{
        position: relative;
        padding: 0 0 40px;
        .twok__insights{
            margin-top: 70px;
            .owl-nav{
                button.owl-prev{
                    position: absolute;
                    left: -123px;
                    top: 50%;
                    &:hover{
                        background: none;
                    }
                    &:focus{
                        border: none;
                        outline: none;
                    }
                }
                button.owl-next{
                    position: absolute;
                    right: -123px;
                    top: 50%;
                    &:hover{
                        background: none;
                    }
                    &:focus{
                        border: none;
                        outline: none;
                    }
                }
            }
            .owl-dots{
                margin-top: 60px;
                line-height: 0;
                button.owl-dot{
                    span{
                        width: 64px;
                        height: 6px;
                        background: #C4C4C4;
                        border-radius: initial;
                        margin: 0 5px 0 0;
                    }
                    &:focus{
                        border: none;
                        outline: none;
                    }
                }
                button.owl-dot.active{
                    span{
                        background: #1E71EC;
                        height: 9px;
                    }
                }
            }
         
            .twok__insights__content{
                h3{
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 32px;
                    color: #1B2345;
                    margin: 32px 0 24px;
                }
            }
        }
    }

    @media (max-width: 767px){
        .twok__component__webinarhub__6 .twok__insights .owl-nav button.owl-next{
            right: 0 !important;
            top: 50%;
            img{
                width: 35px;
            }
        }
        .twok__component__webinarhub__6 .twok__insights .owl-nav button.owl-prev{
            left: 0 !important;
            img{
                width: 35px;
            }
        }
        .twok__component__webinarhub__6 .twok__insights .twok__insights__content {
            margin-top: 30px;
        }
    }

    @media (max-width: 1200px){
        .twok__component__webinarhub__6 .twok__insights .owl-nav button.owl-next{
            right: -30px;
            top: 50%;
            img{
                width: 35px;
            }
        }
        .twok__component__webinarhub__6 .twok__insights .owl-nav button.owl-prev{
            left: -30px;
            img{
                width: 35px;
            }
        }
    }
    
    // @media screen and (max-width: 1200px) and (min-with: 991px) {
        
    // }

/* Component 7 */
    .twok__component__webinarhub__7{
        background: #F6F7F8;
        position: relative;
        .twok__reasons{
            .twok__reasons__content{
                margin-top: 70px;
                display: flex;
                justify-content: space-between;
                .twok__reasons__box{
                    z-index: 1;
                    width: calc((100% / 3) - 16px);
                    // img{
                    //     width: 100%;
                    // }
                    background: #FFFFFF;    
                    border-radius: 4px;
                    padding: 56px 40px 48px;
                    .twok__reasons__txt{
                        h3{
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 28px;
                            margin: 45px 0 20px;
                        }
                        p{
                            margin: 0;
                            font-size: 16px;
                            line-height: 28px;
                            color: rgba(5, 22, 35, 0.8);
                        }
                    }
                    &:nth-child(2){
                        margin: 0 32px;
                        @media (max-width: 767px){
                            margin: 0 0 20px !important;
                        }
                    }
                }
            }
            img.bg1{
                position: absolute;
                top: 5%;
                right: 0;
                @media (max-width: 767px){
                    display: none;
                }
            }
            img.bg2{
                position: absolute;
                bottom: 5%;
                left: 0;
                @media (max-width: 767px){
                    display: none;
                }
            }
        }
    }

    @media (max-width: 767px){
        .twok__component__webinarhub__7 .twok__reasons .twok__reasons__content{
            display: block;
        }
        .twok__component__webinarhub__7 .twok__reasons .twok__reasons__content .twok__reasons__box{
            width: 100% !important;
            margin: 0 0 20px !important;
        }
    }

    @media (max-width: 992px){
        .twok__component__webinarhub__7{
            background: #FFFFFF;   
        }
        .twok__component__webinarhub__7 .twok__reasons .twok__reasons__content .twok__reasons__box{
            background: #F8FAFC;
        }
        .twok__component__webinarhub__7 .twok__reasons .twok__reasons__content .twok__reasons__box:nth-child(2){
            margin: 0 10px;
        }
        .twok__component__webinarhub__7 .twok__reasons .twok__reasons__content .twok__reasons__box{
            width: calc((100% / 3) - 5px);
            padding: 25px 20px 20px;
        }
    }

/* Component 8 */
    .twok__component__webinarhub__form{
        .twok__touch{
            display: flex;
            justify-content: space-between;
            .twok__touch__title{
                width: 50%;
                padding-right: 30px;
                h2{
                    color: #005aab;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 70px;
                    text-transform: uppercase;
                    margin-top: 0;
                }
                p{
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;
                }
            }
            .twok__touch__form{
                width: 50%;
                form{
                    .twok__touch__form__name{
                        display: flex;
                        justify-content: space-between;
                        div{
                            width: 48%;
                        }
                    }
                    input[type="text"], select, textarea {
                        width: 100%;
                        background: #d7d7d729;
                        border: 1px solid #bbb;
                        border-radius: 4px;
                        height: 40px;
                    }
                    div{
                        margin-bottom: 15px;
                    }
                    input[type="submit"]{
                        background: #F37021;
                        border-radius: 4px;
                        border: none;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 24px;
                        letter-spacing: 0.2em;
                        text-transform: uppercase;
                        padding: 16px 40px;
                        margin-top: 40px;
                        opacity: 1;
                        @include animate();
                        &:hover{
                            opacity: .7;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 992px){
        .twok__component__webinarhub__form .twok__touch{
            display: block;
        }
        .twok__component__webinarhub__form .twok__touch .twok__touch__title{
            margin-bottom: 50px;
        }
        .twok__component__webinarhub__form .twok__touch .twok__touch__title, .twok__component__webinarhub__form .twok__touch .twok__touch__form{
            width: 100%;
            padding-right: 0;
        }
    }


/* style detail page */


/* Component detail 1 */
    .twok__component__webinarhub__detail__1{
        background: #F6F7F8;
        padding: 40px 0 0;
        position: relative;
        .twok__digital{
            .twok__digital__title{
                display: flex;
                justify-content: space-between;
                h1{
                    font-weight: bold;
                    font-size: 64px;
                    line-height: 75px;
                    color: #1B2345;
                }
                button{
                    width: 262px;
                    height: 68px;
                    text-align: center;
                    margin: auto 0;
                    padding: 0;
                }
            }
            a{
                margin: 16px 0;
            }
        }
        img{
            width: 100%;
            margin-top: 20px;
        }
        .twok__digital__des {
            background: #0048B3;
            
            position: absolute;
            right: 0;
            left: 30%;
            bottom: -92px;
            p{
                color: #FFFFFF;
                font-size: 16px;
                line-height: 28px;
                padding: 40px 10% 40px 40px;
            }
        }
    }

    @media (max-width: 767px){
        .twok__component__webinarhub__detail__1 .twok__digital__des{
            position: inherit;
        }
        .twok__component__webinarhub__detail__1{
            overflow: hidden;
        }
        .twok__component__webinarhub__detail__1 img {
            width: auto;
            margin-top: 20px;
            height: 600px;
            overflow: hidden;
            margin-left: -15px;
        }
        .twok__component__webinarhub__detail__1 .twok__digital .twok__digital__title h1{
            font-size: 40px;
            line-height: 54px;
            color: #FFFFFF;
            text-shadow: 0px 6px 16px rgba(0, 0, 0, 0.44);
        }
        .twok__component__webinarhub__detail__1 .twok__digital .twok__digital__title{
            display: block;
        }
        .twok__component__webinarhub__detail__1 .twok__digital{
            position: absolute;
            left: 0;
            bottom: 0;
            top: 25%;
            background: rgb(0 71 179 / 60%);
            padding: 35px;
        }
        .twok__component__webinarhub__detail__1 .twok__digital .twok__digital__title p{
            font-size: 16px;
            line-height: 22px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 26px;
        }
    }


/* Component detail 2 */
    .twok__component__webinarhub__detail__2{
        padding: 172px 0 0;
        p{
            margin: 16px 0 0;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: rgba(5, 22, 35, 0.8);
        }
        .twok__key{
            display: flex;
            justify-content: space-between;
            margin-top: 35px;
            .twok__key__content{
                width: calc((100% / 3) - 16px);
                .twok__key__item{
                    h4{
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 33px;
                        color: #1B2345;
                        padding: 16px;
                        border-bottom: 2px solid #0048B3;
                    }
                    h5{
                        padding: 16px;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 33px;
                        color: #1B2345;
                    }
                    .twok__key__item__note{
                        margin: 0 0 16px 16px;
                        h6{
                            margin: 0 0 0 16px;
                            font-size: 18px;
                            line-height: 25px;
                            color: #1B2345;
                            position: relative;
                            margin-bottom: 14px;
                            &::after{
                                content: '';
                                width: 6px;
                                height: 6px;
                                border-radius: 50%;
                                background: #1E71EC;
                                position: absolute;
                                left: -16px;
                                top: 8px;
                            }
                        }
                        a{
                            color: #0048B3;
                            font-size: 14px;
                            line-height: 24px;
                            text-transform: capitalize;
                            margin: 0 0 8px;
                            padding: 8px 8px 8px 16px;
                            display: block;
                            background: rgba(244, 246, 250, 0.6);
                            border-radius: 4px;
                            width: 88%;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 767px){
        .twok__component__webinarhub__detail__2 {
            padding: 36px 0;
        }
        .twok__component__webinarhub__detail__2 .twok__key .twok__key__content {
            width: 100%;
        }
        .twok__component__webinarhub__detail__2 .twok__key{
            display: block;
        }
    }


/* Component detail 3 */
    .twok__component__webinarhub__detail__3{
        position: relative;
        background: #0048B3;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: url(../images/bg-benefit.png) 100%;
            z-index: 0;
        }
        .twok__benefits{
            margin-top: 50px;
            .twok__benefits__item{
                display: flex;
                justify-content: space-between;
                margin-bottom: 24px;
                .twok__benefits__item__des{
                    background: rgba(255, 255, 255, 0.4);
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    box-sizing: border-box;
                    border-radius: 4px;
                    font-size: 24px;
                    line-height: 32px;
                    color: #FFFFFF;
                    padding: 24px 40px;
                    width: calc((100% / 2) - 16px);
                }
            }
        }
    }
    @media (max-width: 767px){
        .twok__component__webinarhub__detail__3 .twok__benefits .twok__benefits__item{
            display: block;
        }
        .twok__component__webinarhub__detail__3 .twok__benefits .twok__benefits__item .twok__benefits__item__des{
            width: 100%;
            margin-bottom: 16px;
            font-size: 16px;
            line-height: 23px;
            padding: 16px 26px;
        }
        .twok__component__webinarhub__detail__3 p{
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            margin-top: 23px;
        }
    }

/* Component detail 4 */
    .twok__component__webinarhub__detail__4{
        background: #F6F7F8;
        .twok__speak{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            .twok__speak__item{
                width: calc((100% / 4) - 32px);
                padding: 40px;
                background: #FFFFFF;
                .twok__speak__item__num{
                    font-weight: bold;
                    font-size: 56px;
                    line-height: 76px;
                    color: #0048B3;
                }
                .twok__speak__item__des{
                    font-size: 15px;
                    line-height: 25px;
                    color: #606060;
                    margin-top: 40px;
                }
            }
        }
    }
    @media (max-width: 767px){
        .twok__component__webinarhub__detail__4 .twok__speak{
            display: block;
        }
        .twok__component__webinarhub__detail__4 .twok__speak .twok__speak__item{
            width: 100%;
            padding: 16px;
            margin-bottom: 16px;
        }
        .twok__component__webinarhub__detail__4{
            background: #F6F7F8;
        }
    }


/* Component detail 5 */
    .twok__component__webinarhub__detail__5{
        position: relative;
        .twok__reasons{
            .twok__reasons__content{
                margin-top: 70px;
                display: flex;
                justify-content: space-between;
                .twok__reasons__box{
                    z-index: 1;
                    width: calc((100% / 3) - 16px);
                    background: #FFFFFF;    
                    border-radius: 4px;
                    padding: 56px 40px 48px;
                    border: 1px solid #DBDBDB;
                    .twok__reasons__txt{
                        h3{
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 28px;
                            margin: 45px 0 20px;
                        }
                        p{
                            margin: 0;
                            font-size: 16px;
                            line-height: 28px;
                            color: rgba(5, 22, 35, 0.8);
                        }
                    }
                    &:nth-child(2){
                        margin: 0 32px;
                        @media (max-width: 767px){
                            margin: 0 0 20px !important;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 767px){
        .twok__component__webinarhub__detail__5 .twok__reasons .twok__reasons__content{
            display: block;
        }
        .twok__component__webinarhub__detail__5 .twok__reasons .twok__reasons__content .twok__reasons__box{
            width: 100% !important;
            margin: 0 0 20px !important;
        }
    }

    @media (max-width: 992px){
        .twok__component__webinarhub__detail__5{
            background: #FFFFFF;   
        }
        .twok__component__webinarhub__detail__5 .twok__reasons .twok__reasons__content .twok__reasons__box{
            background: #F8FAFC;
        }
        .twok__component__webinarhub__detail__5 .twok__reasons .twok__reasons__content .twok__reasons__box:nth-child(2){
            margin: 0 10px;
        }
        .twok__component__webinarhub__detail__5 .twok__reasons .twok__reasons__content .twok__reasons__box{
            width: calc((100% / 3) - 5px);
            padding: 25px 20px 20px;
        }
    }


/* Component detail 6 */
    .twok__component__webinarhub__detail__6{
        position: relative;
        background: #0048B3;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: url(../images/bg-benefit.png) 100%;
            z-index: 0;
        }
        .twok__achievement{
            .twok__achievement__content{
                margin-top: 50px;
                .twok__achievement__item{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 24px;
                    .twok__achievement__item__box{
                        background: rgba(255, 255, 255, 0.4);
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        box-sizing: border-box;
                        border-radius: 4px;
                        font-size: 24px;
                        line-height: 32px;
                        color: #FFFFFF;
                        padding: 24px 40px;
                        width: calc((100% / 3) - 16px);
                        display: flex;
                        justify-content: space-between;
                        img{
                            width: 56px;
                            height: 56px;
                        }
                        .twok__achievement__item__des{
                            width: calc(100% - 100px);
                            h3{
                                font-weight: bold;
                                font-size: 40px;
                                line-height: 54px;
                                text-transform: capitalize;
                                color: #FFFFFF;
                                margin: 0 0 8px;
                            }
                            p{
                                font-size: 16px;
                                line-height: 22px;
                                text-transform: capitalize;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 767px){
        .twok__component__webinarhub__detail__6 .twok__achievement .twok__achievement__content .twok__achievement__item{
            display: block;
        }
        .twok__component__webinarhub__detail__6 .twok__achievement .twok__achievement__content .twok__achievement__item .twok__achievement__item__box{
            width: 100%;
            margin-bottom: 16px;
        }
    }